<% layout('layouts/boilerplate')%>

<div class="row">
	<h1 class="text-center">New Campground</h1>
	<div class="col-6 offset-3">
		<form
			action="/campgrounds"
			method="POST"
			novalidate
			class="validated-form"
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					id="title"
					name="campground[title]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">
					Please enter the name of the campground.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="campground[location]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">
					Please enter the location of the campground.
				</div>
			</div>
			<div class="mb-3">
				<label for="formFileMultiple" class="form-label"
					>Upload Campground images.</label
				>
				<input
					class="form-control"
					type="file"
					id="formFileMultiple"
					name="image"
					multiple
				/>
			</div>
			<!-- <input type="file" name="image" multiple> -->
			<!-- <div class="mb-3">
				<label class="form-label" for="image">Image URL</label>
				<input
					class="form-control"
					type="text"
					id="image"
					name="campground[image]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please upload an image for the campground.</div>
			</div> -->
			<div class="mb-3">
				<label class="form-label" for="price">Campground Price</label>
				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">$</span>
					<input
						type="text"
						class="form-control"
						placeholder="00.00"
						aria-label="price"
						aria-describedby="basic-addon1"
						id="price"
						name="campground[price]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">
						Please enter the nightly price of the campground.
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="campground[description]"
					required
				></textarea>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">
					Please provide a description of the campground.
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Add Campground</button>
			</div>
		</form>
		<a href="/campgrounds">All Campgrounds</a>
	</div>
</div>
